.info {
	padding-top: 150px;
	right: 0;
	padding-right: 85px;
	direction: rtl;
	font-size: 13px;
}


.title {
	margin-bottom: 40px;
	padding-top: 105px;
}

.main-content {
    margin-right: 3%;
    margin-left: 3%;
	align-content: center;
	font-size: 15px;
	
}




